body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* set css for the college cards/column layout */
.college-card {
  border: 1px solid #6f6f6f;
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
}

.college-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-gap: 10px; */
}

h1 {
  background: linear-gradient(45deg, #a104ad, #0b2be0, #329941, #f7f658, #f16412, #e92153, #aa04a7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  margin: 35px;
}

.intro {
  margin: 25px;
}